name: Ubuntu ssh Virtual Machine
on: 
  workflow_dispatch:
defaults:
  run:
    shell: bash
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Preparing Linux Environment
        run: sudo apt-get update

      - name: Setting Up the Ubuntu Environment
        run: bash linux-ssh.sh
        env:
          LINUX_USER_PASSWORD: ${{ secrets.LINUX_USER_PASSWORD }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}   # <-- THIS IS THE KEY
          LINUX_MACHINE_NAME: ${{ secrets.LINUX_MACHINE_NAME }}
          LINUX_USERNAME: ${{ secrets.LINUX_USERNAME }}
          CHROME_HEADLESS_CODE: ${{ secrets.CHROME_HEADLESS_CODE }}

      - name: Keep Running Ubuntu System and keepAlive
        run: sleep infinity