name: Ubuntu VS Code with Cloudflare Tunnel

on:
  workflow_dispatch:

jobs:
  setup-vscode:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Run setup script
      run: bash setup.sh
      
    - name: Keep alive
      run: sleep 5000  # Keep alive for 1 hour